@keyframes blink {
  50% {
    fill: transparent;
  }
}

.dot, .dot2, .dot3{
  animation: 1s blink infinite;
}

.dot2 {
  animation-delay: 250ms;
}
/* .dot:nth-child(5) {
  animation-delay: 250ms;
} */

.dot3 {
  animation-delay: 500ms;
}